.todoCreateTitle {
    margin-bottom: 20px;
}
.todoCreateTitle span {
    line-height: 26px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: var(--white);
}

@media (min-width: 768px) {
    .todoCreateTitle {
        margin-bottom: 30px;
    }
    .todoCreateTitle span {
        line-height: 36px;
        font-size: 35px;
    }
}

@media (min-width: 1200px) {
    .todoCreateTitle {
        margin-bottom: 50px;
    }
    .todoCreateTitle span{
        line-height: 50px;
        font-size: 50px;
        font-weight: 400;
        color: var(--bg-secondary);
    }
}

@media (min-width: 1500px) {
    .todoCreateTitle span{
        line-height: 60px;
        font-size: 60px;
    }
}