:root {
  --bg-primary: #57B1F0;
  --bg-secondary: #141414;

  --color-primary: #2A71A3;
  --color-secondary: #4AF0DC;

  --white: #FFFFFF;
  --black: #000000;

  --font-family-primary: 'Inconsolata', Arial, Helvetica, sans-serif;
  --font-family-secondary: 'Montserrat', Arial, Helvetica, sans-serif;
}
html {
  min-height: 100%;
}
body {
  font-family: var(--font-family-primary);
  background-image: url('./images/bg-img.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100%;
}

@media (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0;
  }
}

.todoContainer:before,
.todoContainer:after {
  display: none;
}

@media(min-width: 1200px) {
  .todoContainer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
  }
}